            * {
              margin: 0;
              padding: 0;
            }

            ::selection {color: black;
            background-color: mediumpurple;
            }

            body {
              background-image: url("https://getwallpapers.com/wallpaper/full/0/2/5/105033.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-position: top-left;
              padding-top: 10vh;
              font: lighter Source Sans Pro, arial, helvetica, sans-serif;
              padding-left: none;
              z-index: 1;
            }
            
            header {
              z-index: 10;
              margin: 0px auto;
              background-color: #000000;
              height: 10vh;
              color: #ffffff;
              font: normal x-small verdana, arial, helvetica, sans-serif;
              width: 100%;
              overflow: auto;
              border-bottom: 10px;
              position: fixed;
              top: 0;
              box-shadow: 0 0 30px 0 #000000;
              transition: 0.15s;
            }

            header:hover {
              background-color: rgb(20, 20, 20);
              transition: 0.15s;
            }

            #pageTitle {
              margin-left: 1vh;
              margin-top: 3vh;
              background-color: #000000;
              color: #63ba86;
              font: bolder x-small verdana, arial, helvetica, sans-serif;
              font-size: 20px;
              width: 0vh auto;
              padding-left: 3vh;
              float: left;
              cursor: default;
              transition: 0.3s;
              user-select: none;
            }

            #pageTitle:hover {
              transition: 0.3s;
              color: #ffffff;
              background-color: rgba(20, 20, 20, 0);
            }

            header:hover #pageTitle, header.hover #pageTitle {
              background-color: rgba(20, 20, 20, 0.5);
              transition: 0.1s;
            }

            #pageName {
              color: #1cc6e8;
              font-weight: lighter;
              transition: 0.2s;
              padding: 1vh;
              padding-left: 0;
            }

            #pageName:hover {
              transition: 0.12s;
              color: #ffffff;
              background-color: inherit;
            }

            header:hover ol li a, header.hover ol li a {
              color: #1cc6e8;
              transition: 0.15s;
              height: 15vh;
            }

            header:hover ol li a:hover, header.hover ol li a.hover {
              color: #63ba86;
              transition: 0.2s;
              border-radius: 5px;
            }

            ul {
              padding: 3vh;
              width: 0vh auto;
              margin: 0px auto;
            }

            ol {
              padding: 3vh;
              width: 0vh auto;
              margin: 0px auto;
              user-select: none;
            }

            ol li {
              display: inline-block;
              float: right;
              padding: 8px;
              transition: 0.3s;
            }

            ol li:hover {
              transform: scale(1.12);
              transition-duration: 0.3s;
            }

            ol li a {
              margin: 0px auto; 
              text-align: center;  
              text-decoration: none;
              font-family: sans-serif;
              font-size: 16px;
              margin-top: 0px;
              font-weight: normal;
              color: #ffffff;
              padding: 2vh;
              transition: 0.2s;
              border-radius: 5px;
            }

            ol li a:hover {
              color: #1cc6e8;
              transition: 0.5s;
              border-radius: 5px;
            }

            h1 {
              font: normal small verdana, arial, helvetica, sans-serif;
              font-size: 20px;
              color: #fff;
              margin-top: 5vh;
              margin-bottom: 5vh;
              padding: 6px;
              text-align: center;
              cursor: default;
              background-color: RGBA(28, 198, 232, 0.5);
              display: block;
              border-radius: 15px;
              user-select: none;
              justify-content: inherit;
              margin-left: 250px;
              margin-right: 250px;
              z-index: 9;
              backdrop-filter: blur(2px);
            }

            h2 {
              font: bold small verdana, arial, helvetica, sans-serif;
              font-size: 20px;
              color: #fff;
              margin-top: 5vh;
              margin-bottom: 5vh;
              padding: 1px;
              text-align: center;
              cursor: default;
              background-color: rgba(206, 82, 222, 0.75);
              display: inline-block;
              border-radius: 2px;
              user-select: none;
            }

            u {
              text-decoration: underline;
              font-size: 16px;
            }

            h6 {
              font: bold small verdana, arial, helvetica, sans-serif;
              font-size: 10px;
              color: #ffffff;
              background-color: rgba(23, 36, 66, 0.85);
              text-align: center;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 20px;
              outline-width: 1px;
              outline-color: rgb(64, 89, 148);
              outline-style: solid;
              padding: 2px;
              margin-left: 65em;
              margin-right: 65em;
              border-radius: 3px;
              cursor: default;
              user-select: none;
            }

            a {
              text-decoration: none;
              font-color: rgb(255, 255, 255);
            }

            a:hover {
              cursor: pointer;            
            }

            p {
              z-index: 4;
              filter: blur(5px);
            }

            .topContent {
              background-image: url("https://getwallpapers.com/wallpaper/full/0/2/5/105033.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-position: top-left;
              backdrop-filter: blur(2px);
              margin-bottom: 5vh;
              margin-left: 20vh;
              margin-right: 20vh;
              margin-top:  5vh;
              justify-content: center;
              display: flex;
              box-shadow: 1px 1px 15px 10px;
              border-radius: 10px;
              position: relative;
              z-index: 1;
            }

            .singlePost {
              margin-left: 175px;
              margin-right: 175px;
            }

            .postFeed {
              background-image: url("https://getwallpapers.com/wallpaper/full/0/2/5/105033.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-position: top-left;
              backdrop-filter: blur(2px);
              margin-bottom: 5vh;
              margin-left: 20vh;
              margin-right: 20vh;
              margin-top:  5vh;
              justify-content: center;
              display: flex;
              box-shadow: 1px 1px 15px 10px;
              border-radius: 10px;
              position: relative;
              z-index: 1;
            }

            .totalPost {
              margin-bottom: 8vh;
              margin-top: 2vh;
              margin-right: 8vh;
              margin-left: 8vh;
              width: 1000px;
              height: auto;
              cursor: default;
              border-style: solid;
              border-radius: 10px;
              position: static;
              transition: 0.3s ease;
              cursor: pointer;
              border-color: rgb(75, 191, 253);
              border-width: 1px;
              border-radius: 10px;
              z-index: 5;
              backdrop-filter: blur(2px);
            }

            .totalPost:hover {
              transition: 0.3s ease;
              border-color: rgb(255, 255, 255);
              border-width: 1px;
              border-radius: 10px;
              box-shadow: 4px 4px 10px 5px #000000;
            }

            .postTitle {
              font: normal small verdana, arial, helvetica, sans-serif;
              color: white;
              font-size: 40px; 
              font-weight: lighter;
              margin-bottom: 0px;
              background-color: rgba(235, 235, 235, 0.2);
              padding: 12px;
              border-radius: 10px 10px 0px 0px;
              border-width: 1px;
              border-color: rgba(235, 235, 235, 0.1);
              border-style: solid;
              border-bottom: none;
              top: 50;
              transition: 0.25s;
              user-select: none;
              z-index: 4;
            }

            .postTitleText {
              font: normal small verdana, arial, helvetica, sans-serif;
              color: white;
              font-size: 40px; 
              font-weight: lighter;
              margin: none;
              z-index: 7;
            }
            
            .postTitle:hover {
              color: white;
              transition: 0.25s;
            }

            .postIdentification {
              font: normal x-small verdana, arial, helvetica, sans-serif;
              font-size: 12px;
              background-color: rgba(235, 235, 235, 0.1);
              color: rgb(75, 191, 253);
              padding: 6px;
              border-radius: 15px 15px 15px 15px;
              width: auto; 
              float: right;
              vertical-align: middle;
              display: inline;
              border-width: 1px;
              border-color: rgba(235, 235, 235, 0.1);
              border-style: solid;
              transition: 0.3s;
              user-select: none;
              z-index: 4;
            }

            .postIdentificationText {
              font: normal x-small verdana, arial, helvetica, sans-serif;
              font-size: 12px;
              color: lightgray;
              z-index: 7;
            }

            .postIdentification:hover {
              background-color: rgba(255, 255, 255, 0.2);
              border-color: rgb(75, 191, 253);
            }
            
            .post {
              background-color: rgba(235, 235, 235, 0.2);
              color: rgb(255, 255, 255);
              font-size: 60px; 
              font: normal small verdana, arial, helvetica, sans-serif;
              font-weight: bold;
              padding: 12px;
              margin-top: 0px;
              border-style: solid;
              border-width: 1px; 
              border-left-color: rgba(235, 235, 235, 0.1);
              border-right-color: rgba(235, 235, 235, 0.1);
              border-top: none;
              border-bottom-color: rgba(235, 235, 235, 0.1);
              border-radius: 0px 0px 10px 10px;
              transition: 0.25s;
              z-index: 4;
            }

            .postText {
              color: rgb(255, 255, 255);
              font-size: 60px; 
              font: normal small verdana, arial, helvetica, sans-serif;
              font-weight: bold;
              z-index: 7;
            }

            .post:hover {
              border-bottom-color: rgba(235, 235, 235, 0.1);
            }

            .totalPost:hover .postTitle.hover {
              color: lightgray;
              transition: 0.25s;
            }

            .postWithButton {
              background-color: rgba(235, 235, 235, 0.2);
              color: rgb(255, 255, 255);
              font-size: 60px; 
              font: normal small verdana, arial, helvetica, sans-serif;
              font-weight: bold;
              padding: 12px;
              margin-top: 0px;
              border-style: solid;
              border-width: 1px; 
              border-left-color: rgba(235, 235, 235, 0.1);
              border-right-color: rgba(235, 235, 235, 0.1);
              border-top: none;
              border-bottom-color: rgba(235, 235, 235, 0.1);
              transition: 0.25s;
              z-index: 4;
            }

            .postWithButton:hover {
              border-bottom-color: rgba(235, 235, 235, 0.2);
            }
            
            .viewButton {
              height: 20px;
              font-size: 50px;
              font: normal small verdana, arial, helvetica, sans-serif;
              color: #ffffff;
              font-weight: bold;
              background-color: rgba(235, 235, 235, 0.2);
              color: rgb(255, 255, 255);
              padding: 10px;
              cursor: default;
              text-align: middle;
              text-align: center;
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 0px 0px 5px 5px;
              text-decoration: none;
              cursor: pointer;
              border-width: 1px;
              border-style: solid;
              border-top-color: rgb(23, 36, 66);
              border-bottom-color: rgb(64, 89, 148);
              border-left-color: rgb(64, 89, 148);
              border-right-color: rgb(64, 89, 148);
              transition: 0.25s;                      
            }

            .viewButton:hover {
              background-color: rgba(235, 235, 235, 0.2);
              font-weight: bolder;
              border-color: rgb(7, 179, 232);
            }

            .Small_Button {
              background-color: rgba(235, 235, 235, 0.2);
              border-width: 1px;
              border-style: solid;
              border-top-color: rgb(64, 89, 148);
              border-bottom-color: rgb(64, 89, 148);
              border-left-color: rgb(64, 89, 148);
              border-right-color: rgb(64, 89, 148);
              padding: 10px;
              color: rgb(255, 255, 255);
              text-align: center;
              border-radius: 5px 5px 5px 5px;
              font-size: 15px;
              transition: 0.3s;
              user-select: none;
            }

            .Small_Button:hover {
              border-width: 2px solid;
              color: rgb(7, 179, 232);;
              background-color: rgba(235, 235, 235, 0.2);
              cursor: pointer;
              transition: 0.3s;
              border-color: rgb(7, 179, 232);
              user-select: none;